.photo {border-radius: 10%;}
/* #e3cea3
#725d64 */
/* FF6969
BB2525 */
.gradient-background {
    background: linear-gradient(300deg, #FF6969, #BB2525, #e3cea3, #725d64);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;

}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
.pro {
    color: aliceblue;
}

.omer {
    font-family: 'Lobster Two',
        cursive;
}

.canvas {
    background-color: bisque;
    
    
}
.top-canvas {
    margin-left: 85%;
    margin-top: 50px;
}
.hero {
    text-align: center;
    
}
h1 {
    font-size: 5rem;
    font-family: Gotham;
    font-weight: bold ;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-family: Gotham;
}
.python {
    margin-left: 30%;
}
.labtop {
    margin-left: 45%;
}
.secsec {
    margin-top: 7rem;
    text-align: center;
}
.int {
    padding-left: 25%;
    padding-right:25% ;
}
.past {
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Gotham;
    font-size: 5rem;
}
.projects {
    background-color: bisque;
}
@media (max-width: 500px){
    .top-canvas {height: 35px; 
    width: 35px;
margin-left: 60%;}
    h1 {
        font-size: 1.7rem;
    }
    h2 {
        font-size: .7rem;
    }
.python { height: 35px;
    width: 35px;}
.labtop {height: 110px;
width: 110px;}
.me {
    height: 50px;
}
.int {font-size: 0.5rem;}
.past {font-size: 1.7rem;}
h3 {font-size: 0.8rem;}
.svg {height: 16px;
width: 16px;}
p {font-size:0.5rem;}
li {font-size: 0.5rem;}
.pas {
    padding-left: 20%;
}
}